/* layeredcake.css */

body {
   /*background: #909193 url(images/linen.png) repeat;*/
   background: #909193 url(images/black.jpg) repeat;
   font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	font-style: normal;
	color: white;
}

h1 {
   color: white;
	font-size: 24pt;
	font-weight: normal;
	font-style: normal;	
	padding-left: 20px;
   /*border-bottom: 1px solid black;*/
}

h2 {
   color: black;
	font-size: 20pt;
	font-weight: normal;
	font-style: normal;
}

h3 {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 16pt;
	font-weight: normal;
	font-style: normal;	
}

input {
	background-color: #000000;
	color: white;
}

input:disabled {
	background-color: #000000;
	color: #6E6E6E;
}

#switchToFileView {
	font-weight: bold;
}

#display {
	/*background-color: #DFDBC3;*/
	/*background-color: #2E2E2E;*/ /*2E2E2E*/
	border: 1px solid white; 
	cursor: default;
}

.normal_button {
	width: 100px;
}

.footerText {
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 8pt;
   text-align: center;
}

#divButtonBar {
	width: 510px;
	height: 50px;
	float: left;
}

#divStatusBar {
	width: 160px;
	height: 50px;
	float: left;
	margin-left: 510px;
}

#status {
	position: relative;
	top: 0px;
}

#datetime {
	position: relative;
	/*left: 300px;
	top: -36px;*/
	top: 0px;
}

/*
#divLog {
	height: 385px;
}*/

#taLog {
	height: 235px;
	/*background-color: #2E2E2E;*/
	background: transparent;
	color: #FFFFFF;
}
/*
#divUserProgramInput {
	height: 100px;
}
*/
#taProgramInput {
	height: 85px;
	/*background-color: #2E2E2E;*/
	background: transparent;
	color: #FFFFFF;
}

#mainTable {
	border: 1;
	width: 700px;
	/*padding-left: 15px;*/
	margin-left: auto;
	margin-right: auto;
}

#buttonsCell {
	width: 350px;
	height: 20px
	white-space: nowrap;
	vertical-align: bottom;
}

#oldTitleCell {
	text-align: center;
	white-space: nowrap;
	vertical-align: top;
	height: 20px;
	border-bottom: 1;
}

#titleCell {
	text-align: center;
	white-space: nowrap;
	vertical-align: top;
	height: 30px;
	border-bottom: 1;
}

#titleRow {
	padding-bottom: -20px;
}

#statusBarCell {
	width: 200px;
	height: 10px;
	white-space: nowrap;
	vertical-align: bottom;
	text-align: left;
}

#displayCell {
	vertical-align: top;
}

#divMemoryDisplay {
	position: relative;
	top: 0px;
	height: 390px;
	width: 410px;
	overflow: scroll;
	text-align: center;
	margin-top: -9px;
	display: block;
}

#memoryTable {
	/*background-color: #2E2E2E;*/
	color: #E6E6E6;
}

#memoryTable td {
	width: 40px;
}

#divFileSystemDisplay {
	position: relative;
	top: 0px;
	height: 390px;
	width: 410px;
	overflow: scroll;
	text-align: left;
	display: none;
}

#fileSystemTable {
	/*background-color: #2E2E2E;
	color: white;*/
}

#fileSystemTable td {
	width: 35px;
	font-size: x-small;
}

#fileSystemTable a {
	text-decoration: none;
}

#fileSystemTable a:link {
	color: #A6DEFA;
}

#fileSystemTable a:visited {
	color: #A6DEFA;
}

#fileSystemTable a:active {
	color: #A6DEFA;
}


#divMemViewSelected {
	position: relative;
	display: block;
}

#divFileSystemViewSelected {
	position: relative;
	display: none;
}

/*#memoryTable th {
	width: 45px;
}*/

#divCpuStatus {
	height: 100px;
	margin-top: 5px;
}

#cpuTable {
	text-align: center;
	/*background-color: #2E2E2E;*/
	color: white;
}

#cpuTable td {
	width: 81px;
	height: 35px;
}

#divReadyQueueDisplay {
	height: 150px;
	margin-top: 5px;
}

#readyQueueTable {
	text-align: center;
	/*background-color: #2E2E2E;*/
	color: white;
}

#readyQueueTable td {
	width: 50px;
	height: 25px;
}

#footCell {
	text-align: center;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-track {
	background: none;
}

::-webkit-scrollbar-thumb {
	background: -webkit-linear-gradient(left, #A4A4A4, #848484);
	border: 1px solid #333;
	box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.4);
}

::-webkit-resizer {
	background: #848484;
	border: 1px solid #333;
	box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.4);
}

::-webkit-scrollbar-corner {
	background: #848484;
	border: 1px solid #333;
	box-shadow: inset 1px 0 0 rgba(255, 255, 255, 0.4);
}