/* layeredcake.css */

body {
   background: #909193 url(images/linen.png) repeat;
   font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	font-style: normal;
}

h1 {
   color: black;
	font-size: 24pt;
	font-weight: normal;
	font-style: normal;	
   /*border-bottom: 1px solid black;*/
}

h2 {
   color: black;
	font-size: 20pt;
	font-weight: normal;
	font-style: normal;
}

h3 {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 16pt;
	font-weight: normal;
	font-style: normal;	
}

#display {
	background-color:#DFDBC3;
	border: 2px solid red; 
	cursor: default;
}

.normal_button {
	width: 100px;
}

.footerText {
   color: black;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 8pt;
   text-align: center;
}

#divButtonBar {
	width: 510px;
	height: 50px;
	float: left;
}

#divStatusBar {
	width: 160px;
	height: 50px;
	float: left;
	margin-left: 510px;
}

#status {
	position: relative;
	top: 30px;
}

#datetime {
	position: relative;
	/*left: 300px;
	top: -36px;*/
	top: 20px;
}

#tableMain {
	border: 1;
	width: 700px;
	padding-left: 15px;
}

#buttonsCell {
	width: 350px;
	white-space: nowrap;
	vertical-align: bottom;
}

#titleCell {
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
	height: 50px;
	border-bottom: 1;
}

#statusBarCell {
	width: 200px;
	height: 20px;
	white-space: nowrap;
	vertical-align: bottom;
	text-align: left;
}


#displayCell {
	vertical-align: top;
}


#footCell {
	text-align: center;
}