/* layeredcake.css */

body {
   background: #909193 url(images/linen.png) repeat;
   font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 12pt;
	font-weight: normal;
	font-style: normal;
}

h1 {
   color: black;
	font-size: 24pt;
	font-weight: normal;
	font-style: normal;	
   /*border-bottom: 1px solid black;*/
}

h2 {
   color: black;
	font-size: 20pt;
	font-weight: normal;
	font-style: normal;
}

h3 {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	font-size: 16pt;
	font-weight: normal;
	font-style: normal;	
}

#display {
	/*background-color: #DFDBC3;*/
	background-color: #2E2E2E; /*2E2E2E*/
	border: 2px solid red; 
	cursor: default;
}

.normal_button {
	width: 100px;
}

.footerText {
   color: black;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 8pt;
   text-align: center;
}

#divButtonBar {
	width: 510px;
	height: 50px;
	float: left;
}

#divStatusBar {
	width: 160px;
	height: 50px;
	float: left;
	margin-left: 510px;
}

#status {
	position: relative;
	top: 30px;
}

#datetime {
	position: relative;
	/*left: 300px;
	top: -36px;*/
	top: 20px;
}

/*
#divLog {
	height: 385px;
}*/

#taLog {
	height: 235px;
	background-color: #2E2E2E;
	color: #FFFFFF;
}
/*
#divUserProgramInput {
	height: 100px;
}
*/
#taProgramInput {
	height: 85px;
	background-color: #2E2E2E;
	color: #FFFFFF;
}

#mainTable {
	border: 1;
	width: 700px;
	/*padding-left: 15px;*/
	margin-left: auto;
	margin-right: auto;
}

#buttonsCell {
	width: 350px;
	white-space: nowrap;
	vertical-align: bottom;
}

#titleCell {
	text-align: left;
	white-space: nowrap;
	vertical-align: top;
	height: 50px;
	border-bottom: 1;
}

#statusBarCell {
	width: 200px;
	height: 20px;
	white-space: nowrap;
	vertical-align: bottom;
	text-align: left;
}

#displayCell {
	vertical-align: top;
}

#divMemoryDisplay {
	position: relative;
	top: 0px;
	height: 390px;
	width: 325px;
	overflow: scroll;
	text-align: center;
	margin-top: -9px;
	display: block;
}

#memoryTable td {
	width: 35px;
}

#divFileSystemDisplay {
	position: relative;
	top: 0px;
	height: 390px;
	width: 400px;
	overflow: scroll;
	text-align: left;
	display: none;
}

#fileSystemTable td {
	width: 35px;
	font-size: x-small;
}

#fileSystemTable a {
	text-decoration: none;
}

#divMemViewSelected {
	position: relative;
	display: block;
}

#divFileSystemViewSelected {
	position: relative;
	display: none;
}

/*#memoryTable th {
	width: 45px;
}*/

#divCpuStatus {
	height: 100px;
	margin-top: 5px;
}

#cpuTable {
	text-align: center;
}

#cpuTable td {
	width: 81px;
	height: 35px;
}

#divReadyQueueDisplay {
	height: 150px;
	margin-top: 5px;
}

#readyQueueTable {
	text-align: center;
}

#readyQueueTable td {
	width: 50px;
	height: 25px;
}

#footCell {
	text-align: center;
}